   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      #mainArea {
        background-image: linear-gradient(
          to right top,
          #000000,
          #0d1543,
          #07072b,
          #132355,
          #220a64
        );
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
      }
      .mainDiv {
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 65vh;
        width: 32vw;
        gap: 5px;
        padding: 30px 0 10px 0;
        box-shadow: #ffffff 0 0 15px;
        border-radius: 20px;
        
      }
      .mainDiv2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
         height: 65vh;
        width: 30vw;border-radius: 20px;
          background-image: linear-gradient(
          to right top,
          #051937,
          #0d1543,
          #002a95,
          #0e183d,
          #4d12eb
        );
                padding: 10px 0 10px 0;

                box-shadow: #ffffff 0 0 15px;
                        background-color: rgba(255, 255, 255, 0);


      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .box {
        height: auto;
        padding: 7vh;
        width: 12vw;
     border-radius: 10px;
  background-image: linear-gradient(
          to right top,
          #051937,
          #0d1543,
          #050b1d,
          #0e2681,
          #4d12eb
        );
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #0e1ed1;
        font-weight: bold;
        gap: 5px;
      }

      .box span{
        color: #000000;
      }
      .imgParent {
        height: auto;
        width: 12vw;
        border-radius: 10px;
        background-color: #081b41;
        border-radius: 25px;
      }
      #image {
        height: inherit;
        width: inherit;
        border-radius: inherit;
      }
      .input {
        height: 5vh;
        width: 15vw;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
        text-align: center;
      }
      .submit {
        height: 5vh;
        width: 7vw;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
         background-image: linear-gradient(
          to right top,
          #051937,
          #0d1543,
          #0d1d4f,
          #0e2681,
          #4d12eb
        );
      }
#temprature{
    font-size: xx-large;
}
#temprature span{
    font-size: 35px;
    font-weight: bold;
}

#city{
  font-size: 35px;
}
#mainHeading{
            font-size: 45px;
            font-weight: 750;
        }
      @media (max-width: 1250px) {
       #mainArea{
            flex-direction: column;
        }
       
       
        #mainHeading{
            font-size: xx-large;
        }
        .mainDiv{
            text-align: center;
            width: 80%;
            height: auto;
        }
        .input{
            height: auto;
            width: auto;
            padding: 5px;
        }
        .row{
            flex-direction: row;
        }
        .box{
                flex-direction: row;
                width: 30vw;
                height: 15vh;
                padding: 30px 5px 30px 5px ;
                flex-direction: column;
                text-align: center;
                
            }
            .mainDiv2{
                width: 80%;
                height: 40vh;
            }
            .submit{
                height: auto;
                width: auto;
                font-size: auto;
            }
            

      }
      


