   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      #mainArea {
        background-image: linear-gradient(
          to right top,
          #051937,
          #002366,
          #002a95,
          #0029c2,
          #4d12eb
        );
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .mainDiv {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vh;
        width: 32vw;
        gap: 5px;
        padding: 10px 0 10px 0;
        box-shadow: #ffffff 0 0 15px;
        border-radius: 10px;
        
      }
      .mainDiv2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
         height: 70vh;
        width: 30vw;border-radius: 10px;
        
                padding: 10px 0 10px 0;

                box-shadow: #ffffff 0 0 15px;

        background-image: linear-gradient(to right top, #020407, #090c11, #000000, #111317, #141619);
      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .box {
        height: auto;
        padding: 7vh;
        width: 12vw;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #0e1ed1;
        font-weight: bold;
        gap: 5px;
      }

      .box span{
        color: #000000;
      }
      .imgParent {
        height: auto;
        width: 12vw;
        border-radius: 10px;
        background-color: #002366;
      }
      #image {
        height: inherit;
        width: inherit;
        border-radius: inherit;
      }
      .input {
        height: 5vh;
        width: 15vw;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
        text-align: center;
      }
      .submit {
        height: 5vh;
        width: 7vw;
        border-radius: 5px;
        border: none;
        background-color: #002a95;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }


      @media (max-width: 1250px) {
       #mainArea{
            flex-direction: column;
        }
       
       
        #mainHeading{
            font-size: large;
        }
        .mainDiv{
            text-align: center;
            width: 80%;
            height: auto;
        }
        .input{
            height: auto;
            width: auto;
            padding: 5px;
        }
        .row{
            flex-direction: row;
        }
        .box{
                flex-direction: row;
                width: 30vw;
                height: 15vh;
                padding: 30px 5px 30px 5px ;
                flex-direction: column;
                text-align: center;
                
            }
            .mainDiv2{
                width: 80%;
                height: 40vh;
            }
            .submit{
                height: auto;
                width: auto;
                font-size: auto;
            }
            

      }
      
